---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css"
		/></head
	>
	<!-- 修改 max-w-6xl 最大宽度-->
	<body class="bg-bgColor text-textColor">
		<ThemeProvider />
		<SkipLink />
		<div class="container mx-auto">
			<Header />
			<main id="main" class="content-area mx-auto">
				<slot />
			</main>
			<Footer />
		</div>
		<div id="search" class="hidden"></div>
		<script>
			import "@pagefind/default-ui/css/ui.css";
		</script>
	</body>
</html>